* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.exitButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #f44336;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.exitButton:hover {
  background-color: #d32f2f;
}
